editing .container{height:100%;display:flex;justify-content:center;align-items:center}.table-padding{padding-top:56px}.image-wrapper{height:100%;background-position:center !important;background-repeat:no-repeat !important;background-size:cover !important}.form-center{display:flex;flex-direction:column;justify-content:center}/*# sourceMappingURL=books.css.map */
