.masthead{object-fit:cover !important;text-align:center !important;position:relative;width:100%;height:100%;min-height:35rem;padding:15rem 0;background-position:center;background-repeat:no-repeat;background-attachment:scroll;background-size:cover}/*# sourceMappingURL=index.css.map */
