.mainNavigationHeader {
  .navbar-brand {
    &:hover {
      text-decoration: underline;
      color: white;
    }

    color: white;
  }

  .white {
    color: white;
  }

  .nav-link {
    &:hover {
      text-decoration: underline;
      color: white;
    }

    color: white !important;
  }
}